.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.day {
  font-size: 1.5em;
}

.weather-main {
  margin: 10px;
  border: solid 5px grey;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 500px

}
.today-main {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  height: 50%;
  margin-top: 10px;

}

.today-forcast {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outlook-main {

  margin-top: 10px;
  display: flex;
  height: 50%;

}

.outlook-day {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature {
  font-size: 2.5em;
}

.weather {
  font-size: 1em;
}

.desc-text {
  margin: 0;
  font-size: .75em;
}

.today-city {
  margin: 0;
  font-size: 3em;
}

.today-date {
  margin: 0;
  font-size: 1.25em;
}

.today-extremes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
}

.today-temp-curr {
  padding: 0px;
  margin: 0px;
  font-size: 5em;
}

.today-extreme-high {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
  align-items: center;
}

.today-extreme-low {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  align-items: center;
}

.today-temp-high {
  margin: 0;
  font-size: 1.5em;
}

.today-temp-low {
  margin: 0;
  font-size: 1.5em;
}

.today-weather {
  font-size: 1.5em;
}
